<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.fnj.storage.api.entity.mapper.custom.FileSearchMapper">

  <resultMap id="fileAndRelatedFolderMap" type="jp.co.fnj.storage.api.entity.model.custom.FileAndRelatedFolderInfoEntity">
    <association autoMapping="true" javaType="jp.co.fnj.storage.api.entity.model.generat.TFolder" columnPrefix="a_" property="tFolder">
      <id property="folderId" column="folder_id"/>
    </association>
    <association autoMapping="true" javaType="jp.co.fnj.storage.api.entity.model.generat.TFile" columnPrefix="b_" property="tFile">
      <id property="fileId" column="file_id"/>
      <id property="folderId" column="folder_id"/>
    </association>
  </resultMap>

  <select id="selectFileAndRelatedFolder" resultMap="fileAndRelatedFolderMap">
        SELECT
            MAX(sort_order) AS sort_order
        FROM
            t_sort_order
        WHERE
            parent_folder_id = #{parentFolderId}
        GROUP BY
            parent_folder_id
  </select>
</mapper>